@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>COntact</title>
    <link rel='stylesheet' type='text/css' href="/css/index.css" media="all">
    
</head>

<body>
    
<h1>Let's learn</h1>
<div class="background">
    <h2>Hai să învățăm împreună matematică</h2>
    <p>Aceasta este o aplicație destinată profesorilor și elevilor, în mod special, care își propune să ușureze munca acestora în ceea ce privește managementul disciplinei matematică.</p>
    <p>În secțiunea <strong>Autentifică-te</strong> îți poți creea un cont și poți să te bucuri de toate facilitățile pe care aplicația noastră ți le oferă.</p>
    <p>Dacă vrei să afli mai multe detalii despre noi, ne poți trimite un email completând formularul din secțiunea <strong>Contactează-ne</strong>.</p>
</div>
</body>
