@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Sa invatam matematica</title>
    <link rel='stylesheet' type='text/css' href="/css/main.css" media="all">
</head>

<div class="text-center">
    <h1 class="display-4">LetsLearn</h1>
   
</div>
