@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>COntact</title>
    <link rel='stylesheet' type='text/css' href="/css/index.css" media="all">
    
</head>

<body>
    
<h1>LearningMath</h1>
<div class="background">
    <h2>Learning Math in a modern way</h2>
    <p>Aceasta este o aplicație destinată profesorilor și elevilor, în mod special, care își propune să ușureze munca acestora în ceea ce privește managementul disciplinei de matematică.</p>
    <p>În secțiunea <strong>Autentifică-te</strong> îți poți creea un cont și poți să te bucuri de toate facilitățile pe care aplicația noastră ți le oferă.</p>
    <p>Pentru detalii suplimentare vă rugăm să ne contactați pe adresa: <a href="MAILTO:mletslearn@gmail.com">mletslearn@gmail.com</a>.</p>
</div>
</body>
