
.body-content
{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-title{
    display: block;
    background-color:darkslategrey;
    color: white;
    font-size: 200%;
    margin-top: 0;
    padding: 10px;
}

input[type=text], input[type=password], option, textarea {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background:bisque;
}

input[type=text]:focus, input[type=password]:focus, option:focus, textarea:focus {
    background-color:antiquewhite;
    outline: none;
}

label
{
    display: block;
    width: 30%;
}


.form-group{
    display: block;
}
.group{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.signupbtn {
    width: 20%;
    height: 30px;
    background:linear-gradient(to bottom, coral 5%, coral 100%);
    background-color:#0d633f;
}

.alternative{
    
    color: darkblue;
    font-weight: bold;

}

.alternative:hover {
    text-decoration: none;
    color: #033d1f;
}




.content{
    background-color: #f1f1f1;
    z-index: 1; 
    left: 0;
    top: 10px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
    height: 200%;
    border: 1px solid #888;
   
    
}

.container{
    max-width: 100%;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


#Register .form-group{
    display: flex;
    justify-content:inherit;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 850px){
    .content{
        width: 95%;
    }

    .concontrol-label{
        display: none;
    }
}
