@using Microsoft.AspNetCore.Razor.Language.Extensions
@model LetsLearn.Models.ProblemModel
<head>
    <link rel='stylesheet' type='text/css' href="/css/homework.css" media="all">

</head>
<body>
<hr />
<div class="row">
        <h3></h3>
        <form method="post" asp-controller="Class" asp-action="Problem" asp-route-id="@ViewBag.Clasa" class="form-homework">
            <h3>Adauga o tema <strong>@ViewBag.Clasa</strong></h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span asp-validation-for="Week" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Week" class="control-label"></label>
                <input asp-for="Week" class="form-control" />
            </div>

            <span asp-validation-for="DateStart" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" class="form-control" asp-format="{0:dd/MM/yyyy}" />
            </div>


            <span asp-validation-for="DateEnd" class="text-danger">@ViewBag.DateEnd</span>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" class="form-control" asp-format="{0:dd/MM/yyyy}" />
            </div>


            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" asp />
            </div>

            <span asp-validation-for="Container" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Container" class="control-label"></label>
                <textarea asp-for="Container" class="form-control"></textarea>
            </div>

            <span asp-validation-for="ProblemData" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="ProblemData" class="control-label"></label>
                <textarea asp-for="ProblemData" class="form-control"></textarea>
            </div>

            <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <textarea asp-for="CorrectAnswer" class="form-control"></textarea>
            </div>

            <span asp-validation-for="FinallyAnswer" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="FinallyAnswer" class="control-label"></label>
                <textarea asp-for="FinallyAnswer" class="form-control"></textarea>

            </div>


            <div class="addHomeworkButon">
                <input type="submit" value="Adaugă" onclick="Class / @ViewBag.Clasa" class="btn btn-default" />
            </div>
        </form>
        
   
</div>

</body>