@model LogInModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title>LogIn</title>
    <link rel='stylesheet' type='text/css' href="/css/form.css" media="all">
</head>
<body>
    <div id="LogIn"> 
        <div class="content">
            
            <img src="/Images/log.png">
            <form method="post" asp-controller="Account" asp-action="LogIn">
                <div class="container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <div class="form-group">
                        <span class="input-group-addon">🔐</span>
                        <input asp-for="UserName" class="form-control" placeholder="Nume de utilizator" />
                    </div>
                       
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-group">
                        <span class="input-group-addon">🔑</span>
                        <input asp-for="Password" placeholder="Parola" class="form-control" />
                    </div>
                       
                    <did class="remember">
                        <input type="checkbox" asp-for="Remember" class="" />Rămâi logat <br/>
                    </did>
                    <div class="group">
                        <input type="submit" value="Înregistrare" class="signupbtn"/>
                        <a href="Register" class="alternative">sau îți poți creea un cont </a>
                    </div>
                    
                </div>
            </form>

        </div>
    </div>
</body>
</html>