@model StudentModel
@{
    ViewData["Title"] = "Student";
}

<!DOCTYPE html>

<html>
<head>
    <title>Student</title>
    
</head>
<body>
    <h1>Bine ati venit, @ViewBag.student</h1>
</body>
</html>
